@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE and legacy Edge */
html {
  -ms-overflow-style: none;
}

.font-outfit-light {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

.font-outfit-regular {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

.font-outfit-medium {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

.font-outfit-semibold {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
}

.font-outfit-bold {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: 'Steelfish';
  src: url('/assets/fonts/Steelfish\ Rg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('/assets/fonts/Steelfish\ Bd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish';
  src: url('/assets/fonts/Steelfish\ Eb.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Outline is treated as a separate style */
@font-face {
  font-family: 'Steelfish Outline';
  src: url('/assets/fonts/Steelfish\ Outline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.font-steelfish-regular {
  font-family: 'Steelfish', sans-serif;
  font-weight: 400;
}

.font-steelfish-bold {
  font-family: 'Steelfish', sans-serif;
  font-weight: 700;
}

.font-steelfish-extrabold {
  font-family: 'Steelfish', sans-serif;
  font-weight: 800;
}

.font-steelfish-outline {
  font-family: 'Steelfish Outline', sans-serif;
  font-weight: 400;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}